
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using WebShop.Models
@model List<TKban>


<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index1.html">Trang chủ</a><i class="fa fa-angle-right"></i>Thống kê sản phẩm</li>
</ol>
<!-- grids -->
<div class="grids">



    <div class="agile-calendar-grid">
        <div class="page">

            <div class="w3l-calendar-left">
                <div class="calendar-heading">
                    @if (ViewBag.mes != null)
                    {
                        if (ViewBag.mes == "1")
                        {
                            <script>
                      swal({
                        title: 'Thành công!',
                        /* text: 'Redirecting...', */
                        icon: 'success',
                        timer: 3000,
                        buttons: true,
                        type: 'success'
                      })
                            </script>
                        }
                        else
                        {
                            <script>
                    swal({
                        title: 'Sản phẩm đang có người đặt. Không thể xóa!',
                        /* text: 'Redirecting...', */
                        icon: 'error',
                        timer: 3000,
                        buttons: true,
                        type: 'error'
                    })
                            </script>
                        }
                    }

                    <div class="agile-tables">
                        <div class="w3l-table-info">
                            <button type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#exampleModalAdd">
                                Thống kê theo thời gian
                            </button>
                            <table id="table">
                                <thead>
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Tổng số lượng bán</th>
                                        <th>Tổng tiền bán</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (TKban item in Model)
                                    {
                                        <tr class="info">
                                            <td>@item.ID_Product</td>
                                            <td>@item.Name</td>
                                            <td>@item.totalQuan</td>
                                            <td>@String.Format("{0:0,0 VNĐ}", item.TotalPrice)</td>
                                        </tr>
                                        <!-- Modal Add-->
                                    }
                                </tbody>
                            </table>
                            <!-- Modal Add-->
                            <div class="modal fade" id="exampleModalAdd" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Thống kê theo thời gian</h4>
                                        </div>
                                        <form action="/Admin/SanPham/ThongKeNgay" enctype="multipart/form-data" method="post">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="ma">Ngày bắt đầu:</label>
                                                    <input type="date" class="form-control" name="NgayA" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="ten">Ngày kết thúc:</label>
                                                    <input type="date" class="form-control" name="NgayB" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-default">
                                                    Tìm
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <!-- Modal content-->
                            <!-- end mymodal -->
                            <!-- sanpham -->
                            <!-- Modal -->

                        </div>
                        <!-- end modal sanpham -->
                    </div>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //grids -->


